<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{projectTitle}}</title>
  </head>
  <body>
    <main>
      <h1>{{projectTitle}}</h1>
      <ul>
        {{#each teamMembers}}
          <li>{{rmNumber}} {{fullName}}</li>
        {{/each}}
      </ul>
    </main>
  </body>
</html>